section.subscribe
			.container
				.subscribe-body
					.subscribe-body__info
						span.subscribe-body__title News Letter
						p.subscribe-body__text join us now to get all news and special offers
					form.subscribe-form
						.subscribe-form__email
							+icon('letter', 'subscribe-form__email-icon')
							input(placeholder="type your email here").subscribe-form__email-input
						input(type="submit" value="Join Us").subscribe-form__submit.g-btn