footer.footer
	.container
		.footer-body
			.footer-logo
				a(href="javascript:void(0;)").footer-logo__link
					img(src="img/general/main-logo.png")
			.footer-links
				ul.footer-links__list
					li.footer-links__item 
						a(href="#").footer-links__link about us
					li.footer-links__item 
						a(href="#").footer-links__link contact us
					li.footer-links__item 
						a(href="#").footer-links__link support
			.footer-links
				ul.footer-links__list
					li.footer-links__item 
						a(href="#").footer-links__link our feed
					li.footer-links__item 
						a(href="#").footer-links__link terms and conditions
					li.footer-links__item 
						a(href="#").footer-links__link our privacy
			.footer-links
				ul.footer-links__list
					li.footer-links__item 
						a(href="#").footer-links__link join us
					li.footer-links__item 
						a(href="#").footer-links__link live support
			.footer-payment
				span.footer-payment__title Payment Methods
				ul.footer-payment__list
					li.footer-payment__item
						+icon('payment-visa', 'payment-icon')
					li.footer-payment__item
						+icon('payment-amex', 'payment-icon')
					li.footer-payment__item
						+icon('payment-visa', 'payment-icon')
					li.footer-payment__item
						+icon('payment-visa', 'payment-icon')
					li.footer-payment__item
						+icon('payment-amex', 'payment-icon')